@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nav-link {
  @apply font-inika text-[20px] leading-[125%] flex items-center;
}

.bg-overlay {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
  position: absolute;
  inset: 0;
  z-index: 0;
}

.h1-christopher-chen {
  @apply font-karla text-[84px] leading-[110%];
}

.p-bio {
  @apply font-inika text-[20px] leading-[125%] flex items-center;
}

.hover-effect {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
  filter: invert(1);
}

.p-inika {
  @apply font-inika;
}

.p-heebo {
  @apply font-heebo;
}
