@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nav-link {
  @apply font-inika text-[20px] leading-[125%] flex items-center;
}

.bg-overlay {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
  position: absolute;
  inset: 0;
  z-index: 0;
}

.h1-christopher-chen {
  @apply font-karla text-[84px] leading-[110%];
}

.p-bio {
  @apply font-inika text-[20px] leading-[125%] flex items-center;
}

.hover-effect {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.1);
  filter: invert(1);
}

.hover-close {
  transition: transform 0.3s, filter 0.3s ease;
}

.hover-close:hover {
  transform: scale(1.2);
  filter: invert(44%) sepia(29%) saturate(504%) hue-rotate(166deg)
    brightness(95%) contrast(92%);
}

.p-inika {
  @apply font-inika;
}

.p-heebo {
  @apply font-heebo;
}

.blue {
  color: #405bba;
}

.pdf-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.pdf-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.pdf-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.hover-preview {
  position: relative;
  display: inline-block;
  transition: transform 0.3s, filter 0.3s ease;
}

.hover-preview:hover {
  transform: scale(1.02);
  filter: brightness(40%);
}

.hover-preview:hover span {
  color: white;
  background-color: rgba(
    107,
    104,
    104,
    0.6
  ); /* Semi-transparent black background */
  padding: 4px 8px; /* Adjust padding for better spacing */
  border-radius: 4px; /* Rounded corners for the background */
}

.projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap; /* Wrap items onto multiple lines */
  gap: 40px; /* Adjust the gap between project cards */
  justify-content: center; /* Center align items horizontally */
}

.project-card {
  position: relative;
  cursor: pointer;
  width: 350px; /* Adjust card width */
  height: 250px; /* Adjust card height */
  transition: transform 0.3s;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Adjust image fitting */
  transition: filter 0.3s ease; /* Apply hover effect */
}

.project-overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: left;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-title {
  font-weight: bold;
  font-family: "Heebo", sans-serif; /* Adjust font family */
}

.project-category {
  font-weight: normal;
  font-family: "Heebo", sans-serif; /* Adjust font family */
}

.project-card:hover .project-overview {
  opacity: 1;
}

.project-card:hover .project-image {
  filter: brightness(40%);
}

.project-modal-overlay {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project-modal-image {
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.project-modal-hover {
  transition: color 0.3s;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.project-modal-hover:hover {
  color: #405bba;
}
